body{
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
}

.board{
  display: flex;
  margin-bottom: 20px;
}

.definition-wrapper{
  margin-bottom: 20px;
}
.letter{
  display: inline-block;
  border-bottom: 1px solid red;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  text-align: center;
  line-height: 50px;
  size: 50px;
}

.control-panel{
  margin-bottom: 20px;
}

.choices{
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}


label{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #444;
;
  text-align: center;
}

input{
  display: none;
}

input:disabled ~label{
  background: rgb(133, 4, 4);
}

label:hover{
  background-color: aqua;
}

/* input:checked ~label{
  color: yellow;
  background-color: #444;
} */

.gotU{
  color: red;
}